
/* Enable hover only on non-touch devices 

@media (max-width: 600px) {
 
}*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
    color: #fff;
}

.title {
    font-size: 4rem;
    margin:auto;
    color: #ffffff;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.imagemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}